.container

  .row.header-row

    .col-sm-9

      %h1= t('participants.title_edit')

    .col-sm-3

      = link_to t('participants.goto_public_view'), user_path(resource), class: 'btn btn-info'

  .row

    .col-sm-12

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|

        = f.error_notification

        .form-inputs

          %h2= t('participants.form_title_account')

          = f.input :first_name
          = f.input :last_name

          = f.input :email, required: true

          / - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          /   %p
          /     Currently waiting confirmation for: #{resource.unconfirmed_email}

          = f.input :tel

          %hr

          %h2= t('participants.form_title_address')

          = f.input :street
          = f.input :city_code
          = f.input :city
          = f.input :country

          %hr

          %h2= t('participants.form_title_picture')

          - if resource.image?

            = link_to resource.image.url, class: "fancybox" do

              = image_tag(resource.image.thumb.url)

            %p

              = f.label :remove_image do
                = f.check_box :remove_image
                %span= t('participants.remove_current_image')

          = f.file_field :image
          = f.hidden_field :image_cache

          %h2= t('participants.form_title_about')

          = f.input :description

          %hr

          %h2= t('auth.signup_additional_info')

          = f.input :camping_preferred, label: t('auth.signup_camping_preferred')

          %hr

          %h2= t('participants.form_title_credentials')

          = f.input :password, autocomplete: "off", required: false
          = f.input :password_confirmation, required: false

          %hr

          = f.input :current_password, required: true

        .form-actions.pull-right

          = f.button :submit, t('participants.btn_submit'), :class => "btn btn-success"

        .clearfix

      %hr

      %h2= t('participants.title_dangerzone')

      %p

        %span= t('participants.dangerzone')

        %span
          = link_to t('participants.submit_delete_account'), registration_path(resource_name), data: { confirm: t('participants.prompt_delete_account') }, method: :delete, :style => "color: red;"
