.container

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|

    = f.error_notification

    %h2 My Profile

    = link_to "Go To Public Profile", user_path(resource)

    .form-inputs

      %h3 Account

      = f.input :first_name
      = f.input :last_name

      = f.input :email, required: true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      = f.input :tel

      %h3 Your Address

      = f.input :street
      = f.input :city_code
      = f.input :city
      = f.input :country

      %h3 Profile

      %h4 Picture

      - if resource.image?
        = image_tag(resource.image.thumb.url)

        = f.label :remove_image do
          = f.check_box :remove_image
          %span Delete Image

      = f.file_field :image
      = f.hidden_field :image_cache

      %h4 About yourself

      = f.input :description

      %h3 Credentials

      = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
      = f.input :password_confirmation, required: false

      %h3 Confirmation

      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true

    .form-actions

      = f.button :submit, "Update", :class => "btn btn-primary"

  %h3 Danger Zone

  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
