.container

  .page

    %h1= t('blackboard.title')

    %p= t('blackboard.text')

    .black-board

      - if @collaborations.count > 0

        %h2= t('blackboard.title_collaborations')

        .black-board__table

          - @collaborations.each do |item|
            = render 'post', item: item

      - if @requirements.count > 0

        %h2= t('blackboard.title_requirements')

        .black-board__table

          - @requirements.each do |item|
            = render 'post', item: item

