.container

  %h1 Hey!

  .panel.panel-default

    .panel-heading

      .panel-title Statistiken

    .panel-body

      %p
        %span(class="badge")= @users_count
        %span Teilnehmer

      %p
        %span(class="badge")= @confirmed_users_count
        %span davon bestätigt

      %p
        %span(class="badge")= @events_count
        %span Veranstaltungen

      %p
        %span(class="badge")= @productions_count
        %span Produktionen

      %p
        %span(class="badge")= @devices_count
        %span Geräte Gesamt

      %p
        %span(class="badge")= @instruments_count
        %span Instrumente Gesamt

      %p
        %span(class="badge")= @collaborations_count
        %span Kollaborationen ingesamt

      %p
        %span(class="badge")= @requirements_count
        %span benötigte Geräte gesamt

