.container

  .row.header-row

    .col-md-12

      %h1= "Hey #{current_user.first_name}!"

  .panel.panel-default

    .panel-heading

      .panel-title Statistiken

    .panel-body

      %p
        %span(class="badge")= @users_count
        %span Teilnehmer, davon

        %span(class="badge")= @confirmed_users_count
        %span bestätigt.

      %p
        %span(class="badge")= @productions_count
        %span Produktionen mit ingesamt

        %span(class="badge")= @events_count
        %span Veranstaltungen.

      %p
        %span(class="badge")= @devices_count
        %span registrierte Geräte, mit

        %span(class="badge")= @requirements_complete_count
        %span Verwendungen und

        %span(class="badge")= @requirements_incomplete_count
        %span Einträgen auf dem Schwarzen Brett.

      %p
        %span(class="badge")= @instruments_count
        %span registrierte Instrumente, mit

        %span(class="badge")= @collaborations_complete_count
        %span Verwendungen und

        %span(class="badge")= @collaborations_incomplete_count
        %span Einträgen auf dem Schwarzen Brett.

      %hr

      %p
        %span(class="badge")= @images_count
        %span hochgeladene Bilder.

      %p
        %span(class="badge")= @activities_count
        %span aufgezeichnete Aktivitäten.
