.container

  .row.header-row

    .col-md-6

      %h1= resource_class.model_name.human.pluralize

    .col-md-6

      - if defined? can_add and can_add

        .pull-right

          = link_to 'Hinzufügen', new_resource_path, class: 'btn btn-success'

  .row

    .col-md-12

      %table.table.table-hover

        %tr

          %th ID

          - attributes.each do |a|
            %th= resource_class.human_attribute_name(a)

          %th

            .pull-right Aktionen

        - collection.each do |resource|

          %tr[resource]

            %td= resource.id

            - attributes.each do |a|
              %td= resource.send(a)

            %td

              .pull-right

                = link_to 'Bearbeiten', edit_resource_path(resource), class: 'btn btn-info'
