.activity

  .activity__image-container

    - if activity.owner and not activity.owner.image.nil?

      .activity__image-container__image{ :style => 'background-image: url("' + activity.owner.image.thumb.url + '")' }

        = link_to "", user_path(activity.owner), title: activity.owner.fullname

  .activity__content

    %p.activity__content__meta

      - if activity.owner

        %span= "#{l(activity.created_at, format: :short)} - "
        %span= link_to activity.owner.fullname, user_path(activity.owner)

      - else

        %span= l activity.created_at, format: :short

    %p.activity__content__message

      %span= t 'activity.' + activity.key

      - if activity.trackable

        %span
          = yield

      - else

        %span Gelöscht
