.activity.row{:class => ['activity--' + activity.key.split('.').last]}

  .col-xs-2.activity__image-container

    - if activity.trackable and activity.trackable.respond_to?(:cover_image) and activity.trackable.cover_image != nil

      .activity__image-container__image{ :style => 'background-image: url("' + activity.trackable.cover_image.src.thumb.url + '")' }

        = render "/public_activity/message", activity: activity

    - else

      - if activity.owner and not activity.owner.image.nil?

        .activity__image-container__image{ :style => 'background-image: url("' + activity.owner.image.thumb.url + '")' }

          = render "/public_activity/message", activity: activity

  .col-xs-10.activity__content

    %p.activity__content__message

      %span= t 'activity.' + activity.key

      - if activity.trackable and activity.trackable.respond_to?(:title)

        %span
          = yield

      - else

        %span= t 'activity.deleted', title: (activity.parameters.has_key?(:title) ? activity.parameters[:title] : "")

    %p.activity__content__meta

      - if activity.owner

        %span= "#{distance_of_time_in_words(Time.now, activity.created_at)} - "
        %span= link_to activity.owner.fullname, user_path(activity.owner)

      - else

        %span= distance_of_time_in_words(Time.now, activity.created_at)

