.container

  .row

    .col-md-6

      - if @user.image?
        = image_tag @user.image.url, class: 'img-responsive'

    .col-md-6

      .content

        %h1= @user.fullname

        .content__meta

          - if can? :update, @user
            = link_to 'Edit my Profile', edit_user_registration_path(@user), class: "btn btn-default pull-right"

          %p= @user.country

          - if user_signed_in?

            %p= mail_to @user.email

        - if not @user.description.nil? and @user.description != ""

          .content__markdown

            = markdown(@user.description)

  - if @user_events.any?

    .row

      .col-md-12

        .content__calendar

          = render '/event_grid', resource: @user_events

  - if user_signed_in?

    .row

      .col-md-12

        - unless @user.instruments.empty?

          %hr

          %h2 Instruments

          = render "/table", collection: @user.instruments

        - unless @user.devices.empty?

          %hr

          %h2 Devices

          = render "/table", collection: @user.devices
