.container

  .row.header-row

    .col-sm-9

      %h1

        %span.header-row__category

          - if user_signed_in?
            = link_to t('participants.overview_title'), users_path
          - else
            = t('participants.overview_title')

        %span= "> #{@user.fullname}"

    .col-sm-3

      - if user_signed_in?

        .btn-group

          = link_to t('common.goto_overview'), users_path, class: 'btn btn-default'

          - if can? :update, @user
            = link_to t('common.goto_edit'), edit_user_registration_path(@user), class: 'btn btn-default'

  .row

    .col-md-6

      - if @user.image?
        = link_to @user.image.url, class: 'fancybox' do
          = image_tag @user.image.url, class: 'img-responsive'

    .col-md-6

      .content

        - if not @user.description.nil? and @user.description != ""

          .content__markdown

            = markdown(@user.description)

        .content__meta

          %br

          %p= @user.country

          - if user_signed_in?

            %p= mail_to @user.email

  .row

    .col-md-12

      .content__calendar

        %h1= t 'participants.title_events'

        = render '/event_grid', resource: @user_events

  - if user_signed_in?

    .row

      .col-md-12

        - unless @user.instruments.empty?

          %h1= t 'participants.title_table_instruments'

          = render "/table", collection: @user.instruments

        - unless @user.devices.empty?

          %h1= t 'participants.title_table_devices'

          = render "/table", collection: @user.devices
