.panel

  .panel-heading

    .panel-title Event

  .panel-body

    = f.input :from, as: :datetime_picker
    = f.input :to, as: :datetime_picker

    // %a.btn.btn-primary{:role => 'button', :data => { 'toggle': 'collapse' }, :href => '.accordion' } Edit Custom Info

    // .collapse.accordion

    = f.input :title
    = f.input :description

  .panel-footer

    = link_to_remove_association 'Remove Event', f, class: 'btn btn-danger',data: { confirm: 'Are you sure?' }, wrapper_class: 'panel'
