.well-container

  .container

    .row.header-row

      .col-sm-7

        %h1
          %span.header-row__category
            = link_to t('productions.overview_title'), productions_path

          %span.text-nowrap= "> #{t('productions.title_edit', title: @production.title) }"

      .col-sm-5

        .btn-group

          = link_to t('common.toggle_help'), '#', class: 'btn btn-default toggle-help'
          = link_to t('common.goto_show'), production_path(@production), class: 'btn btn-info'

    = simple_form_for @production do |f|

      = f.error_notification

      .row

        .col-md-12

          .well

            %h1 Hey!

            %p You want to edit or create a production. A production is something you can contribute to the festival. It can consist of different events, they all relate to this idea production.

            %p Start with basic information, like the title and a description of the production.

          .panel

            .panel-heading

              .panel-title= t 'productions.form.panel_title'

            .panel-body

              = f.input :title

              .well

                %h1 Formatting

                %p All description fields can be formatted with MARKDOWN sytax which means you can change the text style, add links etc.

                = link_to 'Read more about it here', 'http://daringfireball.net/projects/markdown/', target: '_blank'

              = f.input :description

          = render "/image_upload", f: f

      .row

        .col-md-12

          .well

            %h1 Events

            %p Every production consists of at least one event, it can also be many. For example: a workshop might happen on several days, or: for a premiere you might need to reserve the room two hours before for soundcheck. Also soundchecks and setups are events!

          %h1= t 'productions.form.title_events'

          = render '/event_grid', resource: @production.events

          = link_to t('productions.form.btn_add_event'), new_production_event_path(@production), class: 'btn btn-success'

      %hr

      .row

        .col-md-6

          = button_to t('productions.form.btn_delete'), production_path(@production), data: { confirm: t('common.form.prompt_are_you_sure') }, class: 'btn btn-danger', method: :delete

        .col-md-6

          .pull-right= f.button :submit, t('productions.form.btn_submit'), class: 'btn btn-success'
