.container

  .row.header-row

    .col-sm-7

      %h1
        %span.header-row__category
          = link_to t('productions.overview_title'), productions_path

        %span.text-nowrap= "> #{t('productions.title_edit', title: @production.title) }"

    .col-sm-5

      .btn-group

        = link_to t('common.toggle_help'), '#', class: 'btn btn-default toggle-help'
        = link_to t('common.goto_show'), production_path(@production), class: 'btn btn-info'

  = simple_form_for @production do |f|

    = f.error_notification

    .row

      .col-md-12

        .well

          %h1= t('productions.help_new_and_edit')
          = t('productions.help_new_and_edit_html')

        .panel

          .panel-heading

            .panel-title= t 'productions.form.panel_title'

          .panel-body

            = f.input :title

            .well

              %h1= t('common.help_text_formatting')
              = t('common.help_text_formatting_html')

            = f.input :description

        = render "/image_upload", f: f

    .row

      .col-md-12

        .well

          %h1= t('productions.help_edit_events')
          = t('productions.help_edit_events_html')

        .panel

          .panel-heading

            .panel-title= t 'productions.form.title_events'

          .panel-body

            = render '/event_grid', resource: @production.events, show_edit: true

          .panel-footer

            = link_to t('productions.form.btn_add_event'), new_production_event_path(@production), class: 'btn btn-success'

    %hr

    .row

      .col-xs-6

        = link_to t('productions.form.btn_delete'), production_path(@production), data: { confirm: t('common.form.prompt_are_you_sure') }, class: 'btn btn-danger', method: :delete

      .col-xs-6

        .pull-right= f.button :submit, t('productions.form.btn_submit'), class: 'btn btn-success'
