.container

  %h1 Produktionen

  %p= link_to 'Show all instruments', instruments_path, class: 'btn btn-default'
  %p= link_to 'Show all participants', users_path, class: 'btn btn-default'
  %p= link_to 'Show all devices', devices_path, class: 'btn btn-default'

  %table(class="table")

    - @productions.each do |production|

      %tr

        %td= production.title

        %td
          - if can? :read, production
            = link_to 'Show', production_path(production)
          - if can? :update, production
            = link_to 'Edit', edit_production_path(production)

  %hr

  - if can? :create, @productions
    %p= link_to 'New Production', new_production_path, class: 'btn btn-default'
