.container

  .row.header-row

    .col-sm-6

      %h1

        - if user_signed_in?

          %span.header-row__category
            = link_to t('productions.overview_title'), productions_path

        - else

          %span.header-row__category
            = link_to t('calendar.overview_title'), calendar_path

        %span= "> #{@production.title}"

    .col-sm-6

      .btn-group

        - if user_signed_in?

          = link_to t('common.goto_overview'), productions_path, class: 'btn btn-default'

        - else

          = link_to t('common.goto_overview'), calendar_path, class: 'btn btn-default'

        - if can? :update, @production
          = link_to t('productions.goto_edit'), edit_production_path(@production), class: 'btn btn-info'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3= link_to @production.user.fullname, user_path(@production.user)

        - if not @production.description.nil? and @production.description != ""

          .content__markdown

            = markdown(@production.description)

        - if @production.images.any?

          %hr

          .content__images

            = render '/image_grid', resource: @production

        - if @production.events.any?

          .content__calendar

            = render '/event_grid', resource: @production.events
