.container

  %h2= @production.title

  - if can? :update, @production
    %p= link_to 'Edit', edit_production_path(@production)

  %p= link_to @production.user.fullname, user_path(@production.user)

  = markdown(@production.description)

  = render '/image_grid', resource: @production

  %hr

  = render '/event_grid', resource: @production
