.container

  .row.header-row

    .col-sm-9

      %h1= @production.title

    .col-sm-3

      - if can? :update, @production
        = link_to 'Edit This Production', edit_production_path(@production), class: 'btn btn-default'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3= link_to @production.user.fullname, user_path(@production.user)

        - unless @production.description.nil?

          .content__markdown

            = markdown(@production.description)

        - if @production.images.any?

          %hr

          .content__images

            = render '/image_grid', resource: @production

        .content__calendar

          = render '/event_grid', resource: @production
