.items-select

  - if id.present?
    = f.input id, as: :integer, label: false
  - else
    %input{type: "number", class: "form-group integer"}

  .items-select-cell-container.clearfix

    .col-md-3.col-sm-4.col-xs-12

      .items-select__cell.items-select__cell--default{ 'data-value': -1 }

        %h2= t('productions.event.form.select_not_exist_title')
        %p= t('productions.event.form.select_not_exist_description')

    - collection.each do |item|

      .col-md-3.col-sm-4.col-xs-12

        .items-select__cell{ 'data-disabled': false, 'data-value': item.id, style: "background-image: url('#{cover_thumb_url(item)}')" }

          = link_to item, target: "_blank" do
            %h2.items-select__cell__title= item.title.truncate(25)

          %p.items-select__cell__description= item.user.fullname
          %p.items-select__cell__description= no_markdown(item.description).truncate(50)

  .items-select__create

    - if id.present?

      = f.input :title, label: t('productions.event.form.blackboard_title'), required: true, input_html: { class: 'blackboard_title' }
      = f.input :description, label: t('productions.event.form.blackboard_description'), required: true, input_html: { class: 'blackboard_description' }

    - else

      .form-group.string.required

        %label.string.required.control-label{:for => "blackboard_title"}
          %abbr *
          = t('productions.event.form.blackboard_title')

        %input#blackboard_title.string.required.blackboard_title.form-control{ :name => "blackboard[title]", :type => "text" }

      .form-group.text.required

        %label.text.required.control-label{:for => "blackboard_description"}
          %abbr *
          = t('productions.event.form.blackboard_description')

        %textarea#blackboard_description.text.required.blackboard_description.form-control{:name => "blackboard[description]"}
