.container

  .row.header-row

    .col-sm-7

      %h1

        %span.header-row__category
          = link_to t('productions.overview_title'), productions_path

        %span >

        %span
          = link_to @production.title, edit_production_path(@production)

        %span= "> #{ @event.production_title }"

    .col-sm-5

      .btn-group

        = link_to t('common.toggle_help'), '#', class: 'btn btn-default toggle-help'

        = link_to t('productions.event.form.goto_production'), edit_production_path(@production), class: 'btn btn-info'

  = simple_form_for [@production, @event] do |f|

    = f.error_notification

    // event: where & when

    = render 'form', f: f

    // instruments

    .panel

      .panel-heading

        .panel-title= t('productions.event.form.panel_instruments_title')

      .panel-body

        .well

          %h1= t('productions.event.help_edit_instruments')
          = t('productions.event.help_edit_instruments_html')

        .cocoon.cocoon-collaboration#cocoon-collaboration

          .cocoon-nested-container.row

            = f.simple_fields_for :collaborations do |collaboration|
              = render 'collaboration_fields', f: collaboration

          .clearfix

          %button{:type => "button", :class => "btn btn-success", :data => { "toggle" => "modal", "target" => "#collaboration-modal" }}= t('productions.event.form.btn_add_instrument')

    // devices

    .panel

      .panel-heading

        .panel-title= t('productions.event.form.panel_devices_title')

      .panel-body

        .well

          %h1= t('productions.event.help_edit_devices')
          = t('productions.event.help_edit_devices_html')

        .cocoon.cocoon-requirement#cocoon-requirement

          .cocoon-nested-container.row

            = f.simple_fields_for :requirements do |requirement|
              = render 'requirement_fields', f: requirement

          .clearfix

          %button{:type => "button", :class => "btn btn-success", :data => { "toggle" => "modal", "target" => "#requirement-modal" }}= t('productions.event.form.btn_add_device')

    // event: info & description

    .panel

      .panel-heading

        .panel-title= t('productions.event.form.panel_info_title')

      .panel-body

        .well

          %h1= t('productions.event.help_edit_more')
          = t('productions.event.help_edit_more_html')

        = f.input :title
        = f.input :description

    // submit form

    .row

      .col-xs-6

        = link_to t('productions.event.form.btn_delete'), production_event_path(@production, @event), data: { confirm: t('common.form.prompt_are_you_sure') }, class: 'btn btn-danger', method: :delete

      .col-xs-6

        .pull-right
          = f.button :submit, t('productions.event.form.btn_edit_submit'), class: 'btn btn-success'

          // modals

          .modal#collaboration-modal

            .modal-dialog

              .modal-content

                .modal-header

                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span &times;

                  %h4.modal-title= t 'productions.event.modal.title_collaboration'

                .modal-body

                  = render 'items_select', f: f, id: nil, collection: Instrument.all

                .modal-footer

                  .btn-group

                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t 'productions.event.modal.btn_close'

                    %button.btn.btn-success#collaboration-modal-submit{:type => "button"}= t 'productions.event.modal.btn_save'

                    = link_to_add_association '', f, :collaborations, class: 'cocoon-add-collaboration hidden'

          .modal#requirement-modal

            .modal-dialog

              .modal-content

                .modal-header

                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span &times;

                  %h4.modal-title= t 'productions.event.modal.title_requirement'

                .modal-body

                  = render 'items_select', f: f, id: nil, collection: Device.all

                .modal-footer

                  .btn-group

                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}= t 'productions.event.modal.btn_close'

                    %button.btn.btn-success#requirement-modal-submit{:type => "button"}= t 'productions.event.modal.btn_save'

                    = link_to_add_association '', f, :requirements, class: 'cocoon-add-requirement hidden'

