.container

  .row.header-row

    .col-sm-7

      %h1

        %span.header-row__category
          = link_to t('productions.overview_title'), productions_path

        %span >

        %span
          = link_to @production.title, edit_production_path(@production)

        %span= "> #{ t('productions.event.title_create_new') }"

    .col-sm-5

      .btn-group

        = link_to t('common.toggle_help'), '#', class: 'btn btn-default toggle-help'

        = link_to t('productions.event.form.goto_production'), edit_production_path(@production), class: 'btn btn-default'

  = simple_form_for [@production, @event] do |f|

    .row

      .col-sm-12

        = f.error_notification
        = render 'form', f: f

    .row

      .col-sm-12

        .pull-right
          = f.button :submit, t('productions.event.form.btn_submit'), class: 'btn btn-success'
