.container

  .row.header-row

    .col-sm-6

      %h1

        - if user_signed_in?

          %span.header-row__category
            = link_to t('productions.overview_title'), productions_path

        - else

          %span.header-row__category
            = link_to t('calendar.overview_title'), calendar_path

        %span >

        %span
          = link_to @production.title, production_path(@production)

        %span= "> #{@event.production_title}"

    .col-sm-6

      .btn-group

        - unless user_signed_in?

          = link_to t('productions.event.goto_calendar'), calendar_path, class: 'btn btn-default'

        - else

          = link_to t('productions.event.goto_overview'), productions_path, class: 'btn btn-default'

        = link_to t('productions.event.goto_production'), production_path(@production), class: 'btn btn-default'

        - if can? :update, @event
          = link_to t('common.goto_edit'), edit_production_event_path(@production, @event), class: 'btn btn-info'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3
            = link_to @event.production.user.fullname, user_path(@event.production.user)

          %h3

            %span
              = "#{nice_timeframe(@event.from, @event.to)} @ "

            %span
              = link_to @event.location.title, location_path(@event.location)

        - if not @event.description.nil? and @event.description != ""

          %hr

          .content__markdown

            = markdown(@event.description)

          %hr

  - if user_signed_in?

    .row

      .col-sm-12

        - if @event.instruments.any?

          %h1= t 'productions.event.title_table_instruments'

          = render "/table", collection: @event.instruments

        - if @event.devices.any?

          %h1= t 'productions.event.title_table_devices'

          = render "/table", collection: @event.devices

