.container

  .row.header-row

    .col-sm-9

      %h1= @event.production_title

    .col-sm-3

      .btn-group

        = link_to 'Go To Production', production_path(@production), class: 'btn btn-default'

        - if can? :update, @event
          = link_to 'Edit', edit_production_event_path(@production, @event), class: 'btn btn-default'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3
            = link_to @event.production.user.fullname, user_path(@event.production.user)

          %h3

            %span
              = "#{nice_timeframe(@event.from, @event.to)} @ "

            %span
              = link_to @event.location.title, location_path(@event.location)

        - if not @event.description.nil? and @event.description != ""

          %hr

          .content__markdown

            = markdown(@event.description)

        - if user_signed_in?

          - if @event.devices.any?

            %hr

            %h2 Devices

            = render "/table", collection: @event.devices

          - if @event.instruments.any?

            %hr

            %h2 Instruments

            = render "/table", collection: @event.instruments
