.container

  .row.header-row

    .col-md-12

      %h1 Edit #{resource_class.model_name.human}

  = simple_form_for [:admin, (parent if try(:parent?)), resource], method: :put, html: { role: 'form' } do |form|

    .row

      .col-md-12

        .panel.panel-default

          .panel-heading

            .panel-title Meta

          .panel-body

            %p ID: #{resource.id}
            %p Erstellt: #{resource.created_at}
            %p Aktualisiert: #{resource.updated_at}

            = render 'meta', resource: resource

        .panel.panel-default

          .panel-heading

            .panel-title Daten

          .panel-body

            = form.error_notification

            .form-inputs

              = render 'form', form: form

        - if defined? resource.images

          = render "/image_upload", f: form

    .row

      .col-xs-6

        = link_to 'Löschen', resource_path(resource), data: { confirm: t("common.form.prompt_are_you_sure") }, class: 'btn btn-danger', method: :delete

      .col-xs-6

        .pull-right= form.button :submit, class: 'btn btn-success'
