.container

  .row.header-row

    .col-md-12

      %h1 Edit #{resource_class.model_name.human}

  = simple_form_for [:admin, (parent if try(:parent?)), resource], method: :put, html: { role: 'form' } do |form|

    .row

      .col-md-12

        .panel.panel-default

          .panel-heading

            .panel-title Meta

          .panel-body

            %p ID: #{resource.id}
            %p Erstellt: #{resource.created_at}
            %p Aktualisiert: #{resource.updated_at}

            = render 'meta', resource: resource

        .panel.panel-default

          .panel-heading

            .panel-title Daten

          .panel-body

            = form.error_notification

            .form-inputs

              = render 'form', form: form

        - if defined? resource.images

          .panel.panel-default

            .panel-heading

              .panel-title Images

            .panel-body

              .cocoon

                .cocoon-nested-container

                  = form.simple_fields_for :images do |image|
                    = render 'image_fields', f: image

                = link_to_add_association 'Add new Image', form, :images, class: 'btn btn-success'

    .row

      .col-md-12

        .pull-right= form.button :submit, class: 'btn'
