= simple_form_for [resource] do |f|

  .row

    .col-md-12

      = f.error_notification

      .panel

        .panel-heading

          .panel-title= t(resource.model_name.human.pluralize.downcase + '.form.panel_title')

        .panel-body

          = f.input :title
          = f.input :description

      .panel

        .panel-heading

          .panel-title= t 'common.form.panel_images'

        .panel-body

          .cocoon

            .cocoon-nested-container

              = f.simple_fields_for :images do |image|
                = render 'image_fields', f: image

            = link_to_add_association t('common.form.btn_add_image'), f, :images, class: 'btn btn-success'

  .row

    .col-md-12

      .pull-right= f.button :submit, t(resource.model_name.human.pluralize.downcase + '.form.btn_submit'), class: 'btn'
