= f.input :title
= f.input :description

%h3 Images

.cocoon-nested-container

  = f.simple_fields_for :images do |image|
    = render 'image_fields', f: image

  = link_to_add_association 'Add new Image', f, :images, class: 'btn btn-success'
