= simple_form_for [resource] do |f|

  .row

    .col-md-12

      = f.error_notification

      .panel

        .panel-heading

          .panel-title= t(resource.model_name.human.pluralize.downcase + '.form.panel_title')

        .panel-body

          = f.input :title
          = f.input :description

      = render "/image_upload", f: f

  .row

    .col-xs-6

      - if delete

        = link_to t(resource.model_name.human.pluralize.downcase + '.form.btn_delete'), resource_path(resource), data: { confirm: t("common.form.prompt_are_you_sure") }, class: 'btn btn-danger', method: :delete

    .col-xs-6

      .pull-right= f.button :submit, t(resource.model_name.human.pluralize.downcase + '.form.btn_submit'), class: 'btn btn-success'
