.container

  .row.header-row

    .col-sm-9

      %h1= collection.model_name.human.pluralize

    .col-sm-3

      - if can? :create, collection
        = link_to 'Create new', new_resource_path, class: 'btn btn-default'

  .row

    .col-sm-12

      - if user_signed_in?

        %h2= "My #{collection.model_name.human.pluralize}"

        = render '/table', collection: collection.owned_by(current_user)

      %h2= "All #{collection.model_name.human.pluralize}"

      = render '/table', collection: collection
