.container

  .row.header-row

    .col-sm-6

      %h1= t(collection.model_name.human.pluralize.downcase + '.overview_title')

    .col-sm-6

      - if can? :create, collection
        = link_to t(collection.model_name.human.pluralize.downcase + '.goto_create_new'), new_resource_path, class: 'btn btn-default'

  .row

    .col-sm-12

      - if user_signed_in?

        %h2= t(collection.model_name.human.pluralize.downcase + '.title_table_my')

        = render '/table', collection: collection.owned_by(current_user)

      %h2= t(collection.model_name.human.pluralize.downcase + '.title_table_all')

      = render '/table', collection: collection
