.container

  %h1 Create New

  = simple_form_for [resource] do |f|

    .row

      .col-md-12

        = f.error_notification

        .panel

          .panel-heading

            .panel-title= resource.class.model_name.human

          .panel-body

            = render 'form', f: f

    .row

      .col-md-12

        .pull-right= f.button :submit, class: 'btn'
