.container

  .row.header-row

    .col-sm-9

      %h1
        %span.header-row__category
          = link_to t(resource.model_name.human.pluralize.downcase + '.overview_title'), collection_path(resource)
        %span= "> #{resource.title}"

    .col-sm-3

      .btn-group

        = link_to t('common.goto_overview'), collection_path(resource), class: 'btn btn-default'

        - if can? :update, resource
          = link_to t('common.goto_edit'), edit_resource_path(resource), class: 'btn btn-default'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3= link_to resource.user.fullname, user_path(resource.user)

        - if not resource.description.nil? and resource.description != ""

          .content__markdown

            = markdown(resource.description)

        %hr

        .content__images

          = render '/image_grid', resource: resource
