.container

  .row.header-row

    .col-sm-9

      %h1= "#{resource.class.model_name.human} - #{resource.title}"

    .col-sm-3

      .btn-group

        = link_to 'Overview', collection_path(resource), class: 'btn btn-default'

        - if can? :update, resource
          = link_to 'Edit', edit_resource_path(resource), class: 'btn btn-default'

  .row

    .col-sm-12

      .content

        .content__meta

          %h3= link_to resource.user.fullname, user_path(resource.user)

        - if not resource.description.nil? and resource.description != ""

          .content__markdown

            = markdown(resource.description)

        %hr

        .content__images

          = render '/image_grid', resource: resource
