= form.input :first_name
= form.input :last_name

%hr

= form.input :tel
= form.input :email

%hr

= form.input :street
= form.input :city_code
= form.input :city
= form.input :country

%hr

= form.input :description

= form.input :admin
