.event-grid.row

  - resource.events.each_with_index do |event, index|

    .event-grid__container.col-md-6

      .event-grid__container__event

        %h2

          = link_to "##{index + 1} #{event.production_title}", production_event_path(event.production, event)

        %h3= nice_timeframe(event.from, event.to)

        - if can? :update, resource

          = link_to 'Edit This Event', edit_production_event_path(event.production, event), class: 'btn btn-default'

.clearfix
