.event-grid.row

  - resource.each_with_index do |event, index|

    .event-grid__container.col-md-6

      - if event.production.cover_image

        .event-grid__container__image{ :style => 'background-image: url("' + event.production.cover_image.src.url + '")' }

      .event-grid__container__event

        - if defined? show_edit and show_edit

          = link_to t('common.goto_edit'), edit_production_event_path(event.production, event), class: 'btn btn-info pull-right'

        %h2

          = link_to "##{index + 1} #{event.production_title}", production_event_path(event.production, event)

        %p.event-grid__container__event__owner
          %strong
            = link_to event.production.user.fullname, user_path(event.production.user)

        %h3

          %span= "#{nice_timeframe(event.from, event.to)} @ "

          %span
            = link_to event.location.title, location_path(event.location)

        %p= no_markdown(event.production_description.truncate(200))

.clearfix
