%table.table.table-hover.table--resources

  %tr

    %th #

    %th= t('common.table_column_title_name')

    - if not defined? hide_user or not hide_user

      %th= t('common.table_column_title_owner')

    %th

  - collection.each do |resource|

    %tr

      %td.table-image

        - unless resource.cover_image.nil?
          .table-image__image{ :style => 'background-image: url("' + resource.cover_image.src.thumb.url + '")' }

      %td

        %strong.text-uppercase

          - if can? :read, resource
            = link_to resource.title, resource, action: 'show'
          - else
            = resource.title

      - if not defined? hide_user or not hide_user

        %td

          - unless resource.user.nil?
            = link_to resource.user.fullname, user_path(resource.user)

      %td

        .pull-right

          - if can? :update, resource
            = link_to t('common.goto_edit'), [resource, action: 'edit'], class: 'btn btn-info'
