.container

  .row.header-row

    .col-sm-6

      %h1
        %span.header-row__category
          = link_to t('locations.overview_title'), locations_path
        %span= "> #{@location.title}"

    .col-sm-6

      = link_to t('common.goto_overview'), locations_path, class: 'btn btn-default'

  .row

    .col-sm-12

      .content

        .content__markdown

          = markdown(@location["description_#{I18n.locale}"])

        - if @location.images.any?

          %hr

          .content__images

            = render '/image_grid', resource: @location

        - if @location.events.any?

          .content__calendar

            = render '/event_grid', resource: @location.events
