%nav.navbar

  .container

    .row

      .col-sm-12.col-xs-10

        .navbar-brand-container

          %h1= link_to 'Admin', admin_root_path, class: "navbar-brand"

      .col-sm-12.col-xs-2

        .navbar-header

          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}

            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #navbar.collapse.navbar-collapse

          %ul.nav.navbar-nav.navbar-left

            = li_link_to "Dashboard", admin_root_path
            = li_link_to "Users", admin_users_path
            = li_link_to "Locations", admin_locations_path

          %ul.nav.navbar-nav.navbar-right

            = li_link_to "Page", root_path
            = li_link_to "Logout", destroy_user_session_path, method: :delete
