.footer

  .container

    .row

      .col-xs-6

        %ul

          %li= Rails.application.config.title

        %ul

          = li_link_to t('navigation.footer.routes'), routes_path
          = li_link_to t('navigation.footer.contact'), contact_path

          - if current_user.try(:admin)
            = li_link_to t('navigation.footer.admin'), admin_root_path

      .col-xs-6

        %ul.pull-right

          = li_link_to t('navigation.footer.locale.english'), url_for(:locale => 'en')
          = li_link_to t('navigation.footer.locale.german'), url_for(:locale => 'de')
