.footer

  .container

    .row

      .col-xs-6

        %ul

          %li= Rails.application.config.title

        %ul

          = li_link_to "Anfahrt", routes_path
          = li_link_to "Kontakt", contact_path

          - if current_user.try(:admin)
            = li_link_to "Admin", admin_root_path

      .col-xs-6

        %ul.pull-right

          = li_link_to "English", url_for(:locale => 'en')
          = li_link_to "Deutsch", url_for(:locale => 'de')
