%nav.navbar

  .container

    .row

      .col-sm-12.col-xs-10.reset-col

        .navbar-brand-container

          %h1= link_to Rails.application.config.title, root_path, class: "navbar-brand"

      .col-sm-12.col-xs-2

        .navbar-header

          %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}

            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #navbar.collapse.navbar-collapse

          %ul.nav.navbar-nav.navbar-left

            = li_link_to t('navigation.home'), root_path
            = li_link_to t('navigation.about'), about_path
            = li_link_to t('navigation.calendar'), calendar_path
            = li_link_to t('navigation.locations'), locations_path

          %ul.nav.navbar-nav.navbar-right

            - if user_signed_in?

              %li{"class" => "dropdown"}

                %a{"role" => "button", "class" => "dropdown-toggle", "data-toggle" => "dropdown"}

                  %span Resources
                  %span{"class" => "caret"}

                %ul.dropdown-menu

                  = li_link_to t('navigation.participants'), users_path
                  = li_link_to t('navigation.productions'), productions_path
                  = li_link_to t('navigation.instruments'), instruments_path
                  = li_link_to t('navigation.devices'), devices_path

                  %li{"role" => "separator", "class" => "divider"}

                  = li_link_to t('navigation.activity'), activity_path
                  = li_link_to t('navigation.blackboard'), blackboard_path

              = li_link_to t('navigation.profile'), edit_user_registration_path
              = li_link_to t('navigation.signout'), destroy_user_session_path, method: :delete

            - else

              = li_link_to t('navigation.signup'), new_user_registration_path
              = li_link_to t('navigation.signin'), new_user_session_path
